@tailwind base;
@tailwind components;
@tailwind utilities;


.perspective {
    perspective: 1000px;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .is-flipped .front {
    transform: rotateY(180deg);
  }
  
  .is-flipped .back {
    transform: rotateY(0deg);
  }
  