*{
padding: 0;
margin: 0;
box-sizing: border-box;    
}



.edit{
    text-align: center;
    padding: 40px 40px;
}


.edit button{
    border: none;
    padding: 10px 50px; 
    background-color: rgb(43, 43, 166);
    color: white;
    border-radius: 20px;

}



.edit input{
    border: 1px solid black;
    padding: 10px 20px;
    margin-bottom: 20px;
}